@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  background-color: hsl(0, 0%, 98%);
}

html.dark body {
  background-color: hsl(207, 26%, 17%);
}


.dropdown {
  animation: slideUp .5s ease-in-out forwards;
  display: none;
  position: absolute;
  width: 305px;
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdown.open {
  animation: slideDown .5s ease-in-out forwards;
  display: flex;
}

@keyframes slideDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}




.dropdown li {
  transition: opacity .2s ease-in-out;
}

.dropdown li:hover {
  opacity: 0.5;
}

.countries-container.loaded {
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.pagination {
  

}